
/* collor pallet
Night: #01110A
british racing green: #003E1F
cambrifge-blue: #73BA9B
honey-dew: #D5F2E3
Engineering Orange: #BA2D0B
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #01110A;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.divider {
    border: none;
    height: 2px;
    background-color: #01110A; /* Change color as needed */
    margin: 0px 0px; /* Adjust spacing as needed */
}

.container {
    font-family: 'Abril Fatface', sans-serif;
    background-image: url("../Images/Oostenrijk\ Appel.jpg");
    height: calc(100vh - 50px); /* Adjust height based on navbar height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Ensure the main element is the reference for absolute positioning */
}

.container img {
    width: 100%;
    height: auto;
  }

.text-center {
    margin: 0 0 0 0;
    padding: 10vh 10vh 0 10vh;
    text-align: left;
    align-content: center;
}

.small-text{font-size: 30pt;}
.big-text{font-size: 50pt;}
.courier-text{font-family: 'Courier New', Courier, monospace;}

footer {
    background-color: #01110A;
    color: #f0f0f0;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}

.no-break {
    white-space: nowrap;
}


button {
    width: auto;
    height: auto;
    padding: 20px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 5px 5px #01110A;
}

button.paused {
    background-color: #D5F2E3;
    color: #01110A;
    transform: translateY(0);
}

button.playing {
    background-color: #73BA9B;
    color: #01110A;
    transform: translateY(3px);
    box-shadow: 5px 3px;
}

button:active {
    transform: translateY(3px);
}